<configuration>

    <!-- Appender para logs generales -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{transactionId}] %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Appender para errores -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{transactionId}] %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{transactionId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

</configuration>

<!--<logger name="com.miguelmoreno.gymcrm" level="INFO"/>-->
<!--<logger name="org.springframework" level="WARN"/>-->
<!--<logger name="org.hibernate" level="WARN"/>-->
<!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
<!--<root level="INFO">-->
<!--    <appender-ref ref="CONSOLE"/>-->
<!--    <appender-ref ref="FILE"/>-->
<!--</root>-->
<!--        <?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder>-->
<!--        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [txId:%X{transactionID}] - %msg%n</pattern>-->
<!--    </encoder>-->
<!--</appender>-->
<!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--        <fileNamePattern>logs/gym-crm.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--            <maxFileSize>10MB</maxFileSize>-->
<!--        </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        <maxHistory>30</maxHistory>-->
<!--        <totalSizeCap>1GB</totalSizeCap>-->
<!--    </rollingPolicy>-->
<!--    <encoder>-->
<!--        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [txId:%X{transactionID}] - %msg%n</pattern>-->
<!--    </encoder>-->
<!--</appender>-->
<!--<logger name="com.miguelmoreno.gymcrm" level="INFO"/>-->
<!--<logger name="org.springframework" level="WARN"/>-->
<!--<logger name="org.hibernate" level="WARN"/>-->
<!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
<!--<root level="INFO">-->
<!--    <appender-ref ref="CONSOLE"/>-->
<!--    <appender-ref ref="FILE"/>-->
<!--</root>-->
<!--</configuration>-->